<!doctype html>
<html lang="{{ site.language }}">
<head>
    {% block head %}{% include 'layouts/helpers/head.twig' %}{% endblock %}
    {{ fn('wp_head') }}
</head>
<body {{ fn('body_class') }}>

{% block header %}{% include 'layouts/helpers/header.twig' %}{% endblock %}

{% block content %}{{ post.content }}{% endblock %}

{% block footer %}{% include 'layouts/helpers/footer.twig' %}{% endblock footer %}

{{ fn('wp_footer') }}
</body>
</html>
