<meta charset="{{ site.charset }}">

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ wp_title }}</title>

<meta name="description" content="{{ site.description }}">

<link rel="stylesheet" type="text/css" href="{{ theme.link }}/dist/styles/main.css">

{#<script src="{{ theme.link }}/dist/scripts/elements.vue.js" defer></script>#}
<script src="https://kit.fontawesome.com/945889d7f9.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
